*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.side-image {
    overflow:hidden;

    flex-basis: 0;
    flex-grow: 2;
    display:flex;
    background: url(/images/background.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, .9);
}

.logo {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    width: 3vw;
    filter: saturate(0%) invert(100%);
}

.side-image > p {

}

.content {
    overflow: hidden;

    flex-basis: 0;
    flex-grow: 3;
    display: flex;
}

.brand {
    flex-basis: 0;
    flex-shrink: 1;
    font-size: 3vw;
    padding: .5vw 2vw;
    background-color: rgba(0, 0, 0, .50);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand > * {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

